---
layout: page
title: "About"
description: ""
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        写写代码，听听歌，看看电影
    </blockquote>
    从小我就懂得保护自己，我知道要想不被人拒绝，最好的办法就是先拒绝别人。<br>— 王家卫 《东邪西毒》<br><br>
    有些事情你越想忘记，就会记得越牢。当有些事情你无法得到时，你惟一能做的，就是不要忘记。<br>—王家卫 《东邪西毒》<br><br>
    我曾经听人说过，当你不可以再拥有的时候。你唯一可以做的，就是让自己不要忘记。<br>—王家卫 《东邪西毒》<br><br>
    不知道从什么时候开始，在什么东西上面都有个日期，秋刀鱼会过期，肉罐头会过期，连保鲜纸都会过期，我开始怀疑，在这个世界上，还有什么东西是不会过期的？<br>—王家卫 《重庆森林》<br><br>
    你越想忘记一个人时，其实你越会记得他。人的烦恼就是记性太好，如果可以把所有事都忘掉，以后每一日都是个新开始，你说多好。<br>—王家卫 《东邪西毒》<br><br>
    我不知道该怎么和生活中无法失去的人说再见，所以我没有说再见就离开了。<br>—王家卫 《蓝莓之夜》<br><br>
    其实了解一个人并不代表什么，人是会变的，今天他喜欢凤梨，明天他可以喜欢别的。<br>—王家卫 《重庆森林》<br><br>
    <p style="text-align:right;">
        —— <h7>王家卫经典台词</h7>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        coding,listening,watching.
    </blockquote>
    从小我就懂得保护自己，我知道要想不被人拒绝，最好的办法就是先拒绝别人。<br>— 王家卫 《东邪西毒》<br><br>
    有些事情你越想忘记，就会记得越牢。当有些事情你无法得到时，你惟一能做的，就是不要忘记。<br>—王家卫 《东邪西毒》<br><br>
    我曾经听人说过，当你不可以再拥有的时候。你唯一可以做的，就是让自己不要忘记。<br>—王家卫 《东邪西毒》<br><br>
    不知道从什么时候开始，在什么东西上面都有个日期，秋刀鱼会过期，肉罐头会过期，连保鲜纸都会过期，我开始怀疑，在这个世界上，还有什么东西是不会过期的？<br>—王家卫 《重庆森林》<br><br>
    你越想忘记一个人时，其实你越会记得他。人的烦恼就是记性太好，如果可以把所有事都忘掉，以后每一日都是个新开始，你说多好。<br>—王家卫 《东邪西毒》<br><br>
    我不知道该怎么和生活中无法失去的人说再见，所以我没有说再见就离开了。<br>—王家卫 《蓝莓之夜》<br><br>
    其实了解一个人并不代表什么，人是会变的，今天他喜欢凤梨，明天他可以喜欢别的。<br>—王家卫 《重庆森林》<br><br>
    <p style="text-align:right;">
        —— <h7>王家卫经典台词</h7>
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
